
.
..
.2019-03-28.tidal.swp
.aeolus-presets
.android
Android
.AndroidStudio3.3
Arduino
.arduino15
.atom
.audacity-data
.babel.json
.bash_history
.bash_logout
.bashrc
.bristol
.cabal
.cache
.cargo
.chewing
.composer
.config
.dbshell
.dbus
Desktop
.dmrc
Documents
Downloads
.electron
.electron-gyp
.emacs.d
.ethereum
.fltk
.foo-yc20
.fweelin
.fzf
.fzf.bash
.gconf
.ghc
.giada
.git
.gitconfig
.gitignore.swp
.gnome
.gnupg
go
.gphoto
.gradle
.gtk-recordmydesktop
.hfc-key-store
.hydrogen
.ICEauthority
.ipfs
.jackdrc
.jamin
.java
JUCE
.kluppe
.ladish
.lesshst
.local
.log
.mongorc.js
.mozilla
Music
.NERDTreeBookmarks
.node-gyp
.node_repl_history
.npm
.nvm
.oracle_jre_usage
.pam_environment
.phasex
Pictures
.pki
.presage
.profile
.projectM
Public
R
.rstudio-desktop
.rubberband.wisdom.d
.selected_editor
.shuriken
.sooperlooper
.ssh
.sudo_as_admin_successful
.thumbnails
.tmux.conf
Videos
.vim
.viminfo
.w3m
watchman
.Xauthority
.Xdefaults
.xinputrc
.xscreensaver
.xsession-errors
.xsession-errors.old
.yarnrc
.yo-rc-global.json
.zynaddsubfx-bank-cache.xml
.zynaddsubfxXML.cfg
